# Python Code Racing1

In [1]:
a = [(0,0),(1,1),(2,2),(3,3),(4,4)]

In [2]:
b = [(x,y) for x in range(5) for y in range(5) if x==y]

In [3]:
c = filter(lambda x :x[0] == x[1],[(x,y) for x in range(5) for y in range(5)])

In [4]:
print(a)

NameError: name 'a' is not defined

In [5]:
print(b)

[(0, 0), (1, 1), (2, 2), (3, 3), (4, 4)]

In [6]:
print(c)

<filter object at 0x0474D750>

# 1부터 30 까지의 자연수 중에서 직각 삼각형을

In [7]:
# 아런알