In [2]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn import svm, preprocessing
import pandas as pd
from matplotlib import style
import math

In [54]:
df = pd.DataFrame.from_csv("TimeTablef2.csv")

In [55]:
df

,Birthrate,Deathrate,marriagerate,Divorcerate,Moveout,Hire_all,Hire_man,Hire_women,Hire_1519,Hire_2029,Hire_3039,Wagegap,Gni,Income_roi,Gini,Lease_changerate,Suiciderate
﻿,,,,,,,,,,,,,,,,,
1990-01-01,15.2,5.6,9.3,1.1,3231128,58.6,71.8,46.2,13.2,62.1,74.4,4.62,460.5,9.1,3.72,36.8,7.6
1991-01-01,16.4,5.6,9.6,1.1,2957842,59.1,73.0,46.2,13.4,62.5,74.8,4.65,550.8,12.6,3.58,37.5,7.3
1992-01-01,16.7,5.4,9.6,1.2,2859760,59.4,73.6,46.1,12.9,62.1,74.0,4.65,623.4,6.3,3.52,40.3,8.3
1993-01-01,16.0,5.2,9.0,1.3,2863667,59.1,73.2,46.0,12.1,60.8,74.1,4.71,700.0,6.2,3.70,41.3,9.4
1994-01-01,16.0,5.4,8.7,1.4,2739689,60.1,74.2,46.9,11.9,62.0,74.6,4.55,817.2,8.2,3.61,43.2,9.5
1995-01-01,15.7,5.3,8.7,1.5,2864939,60.6,74.6,47.6,11.0,63.5,74.6,4.58,947.0,8.5,3.68,44.7,10.8
1996-01-01,15.0,5.2,9.4,1.7,2836089,60.8,74.4,48.1,10.3,63.9,75.2,4.66,1052.4,7.7,3.79,47.7,12.9
1997-01-01,14.4,5.2,8.4,2.0,2838442,60.9,73.9,48.6,9.7,63.9,75.4,4.63,1147.0,2.6,3.80,48.1,13.1
1998-01-01,13.6,5.2,8.0,2.5,2678629,56.4,69.2,44.4,8.3,57.4,70.9,4.69,1117.5,-4.0,4.55,39.2,18.4
1999-01-01,13.0,5.2,7.6,2.5,3024784,56.7,69.1,45.2,9.0,57.5,71.1,4.73,1223.1,2.7,4.62,45.8,15.0
2000-01-01,13.3,5.2,7.0,2.5,2845831,58.5,70.7,47.0,10.3,60.1,72.5,4.89,1341.5,3.1,4.05,50.9,13.6
2001-01-01,11.6,5.0,6.7,2.8,2932017,59.0,71.0,47.7,10.1,60.2,72.7,4.90,1443.2,1.4,4.29,59.2,14.4
2002-01-01,10.2,5.1,6.3,3.0,2994815,60.0,72.2,48.4,9.4,61.3,73.0,4.93,1593.5,3.9,4.34,65.2,17.9
2003-01-01,10.2,5.1,6.3,3.4,3007781,59.3,71.9,47.4,8.6,60.2,72.6,5.01,1687.8,2.7,4.22,65.0,22.6
2004-01-01,9.8,5.0,6.4,2.9,2793739,59.8,72.0,48.3,8.4,61.1,72.6,5.03,1819.8,3.2,4.41,61.2,23.7
2005-01-01,8.9,5.0,6.5,2.6,2815279,59.7,71.6,48.4,8.0,61.2,72.3,5.15,1895.8,1.9,4.55,63.1,24.7
2006-01-01,9.2,5.0,6.8,2.5,2946669,59.7,71.3,48.8,6.7,60.2,73.2,5.13,1989.7,1.9,4.62,67.3,21.8
2007-01-01,10.0,5.0,7.0,2.5,2922003,59.8,71.3,48.9,6.6,60.0,72.9,4.99,2140.2,1.9,4.84,69.9,24.8
2008-01-01,9.4,5.0,6.6,2.4,2792151,59.5,70.9,48.7,5.9,59.1,72.9,4.93,2256.3,0.9,4.88,72.1,26.0
2009-01-01,9.0,5.0,6.2,2.5,2728972,58.6,70.1,47.7,5.4,58.2,71.3,4.72,2336.2,0.5,4.97,74.4,31.0
2010-01-01,9.4,5.1,6.5,2.3,2662293,58.7,70.1,47.8,6.1,58.2,72.0,4.77,2563.4,2.5,4.82,79.4,31.2
2011-01-01,9.4,5.1,6.6,2.3,2604513,59.1,70.5,48.1,6.8,58.5,72.2,4.80,2692.9,1.0,4.82,88.7,31.7
2012-01-01,9.6,5.3,6.5,2.3,2512740,59.4,70.8,48.4,7.0,58.1,72.7,4.63,2782.9,1.2,4.67,90.0,28.1
2013-01-01,8.6,5.3,6.4,2.3,2423429,59.5,70.8,48.8,6.9,56.8,73.2,4.70,2866.7,3.2,4.56,94.2,28.5
2014-01-01,8.6,5.3,6.0,2.3,2507796,60.2,71.4,49.5,7.7,57.4,73.9,4.79,2968.0,2.0,4.42,97.4,27.3

In [56]:
 type(df.index)

pandas.tseries.index.DatetimeIndex

In [57]:
x = np.array(df.index)

In [58]:
y = []
for i in df.columns:
    y.append(i)

print(y)

['Birthrate', 'Deathrate', 'marriagerate', 'Divorcerate', 'Moveout', 'Hire_all', 'Hire_man', 'Hire_women', 'Hire_1519', 'Hire_2029', 'Hire_3039', 'Wagegap', 'Gni', 'Income_roi', 'Gini', 'Lease_changerate', 'Suiciderate']

In [59]:
y[0]

'Birthrate'

In [27]:
def yvalue(y1,y2):
    
    try:
        yy1 = []
        y1name = y1
        y2name = y2
        for i in range(len(df.index)):
            yy1.append(float(np.array(df[y1].values.tolist())[i].replace(",","")))
            
        yy2 = np.array(df[y2].values.tolist())
        corr = np.corrcoef(yy1,yy2)[0,1]

    except: 
        
        try:
            yy2 = []
            y1name = y1
            y2name = y2
            yy1 = np.array(df[y1].values.tolist())
            for i in range(len(df.index)):
                yy2.append(float(np.array(df[y2].values.tolist())[i].replace(",","")))
            corr = np.corrcoef(yy1,yy2)[0,1]
            
        except:
            y1name = y1
            y2name = y2
            yy1 = np.array(df[y1].values.tolist())
            yy2 = np.array(df[y2].values.tolist())
            corr = np.corrcoef(yy1,yy2)[0,1]
            

    return print("{0}과 {1}의 상관계수는 {2} 입니다".format(y1name,y2name,corr))

In [28]:
for i in range (0,16):
    yvalue(y[i],y[i+1])
#     print(y[i],y[i+1])

Birthrate과 Deathrate의 상관계수는 0.6619977389299881 입니다
Deathrate과 marriagerate의 상관계수는 0.6880852321003746 입니다
marriagerate과 Divorcerate의 상관계수는 -0.8654711635074173 입니다
Divorcerate과 Moveout의 상관계수는 -0.11947412469298149 입니다
Moveout과 Hire_all의 상관계수는 -0.09425845373717842 입니다
Hire_all과 Hire_man의 상관계수는 0.7501934171703998 입니다
Hire_man과 Hire_women의 상관계수는 0.09548660813040205 입니다
Hire_women과 Hire_1519의 상관계수는 -0.5539382118731022 입니다
Hire_1519과 Hire_2029의 상관계수는 0.6766214413644823 입니다
Hire_2029과 Hire_3039의 상관계수는 0.7664272573775192 입니다
Hire_3039과 Wagegap의 상관계수는 -0.40938788935867143 입니다
Wagegap과 Gni의 상관계수는 0.36470371961989034 입니다
Gni과 Income_roi의 상관계수는 -0.6166395160147008 입니다
Income_roi과 Gini의 상관계수는 -0.7931812346734192 입니다
Gini과 Lease_changerate의 상관계수는 0.7297108271929857 입니다
Lease_changerate과 Suiciderate의 상관계수는 0.8993907368635357 입니다

In [62]:
def valuelist(column):
    y = np.array(df[column].values.tolist())
    yp = preprocessing.scale(y)
    return yp

In [33]:
y = np.array(df['Birthrate'].values.tolist())
yp = preprocessing.scale(y)
y2 = np.array(df['Deathrate'].values.tolist())
y2p = preprocessing.scale(y2)

In [72]:
y[5:11]

['Hire_all', 'Hire_man', 'Hire_women', 'Hire_1519', 'Hire_2029', 'Hire_3039']

In [40]:
y2p

array([ 2.34250758,  2.34250758,  1.19421955,  0.04593152,  1.19421955,
        0.62007554,  0.04593152,  0.04593152,  0.04593152,  0.04593152,
        0.04593152, -1.10235651, -0.52821249, -0.52821249, -1.10235651,
       -1.10235651, -1.10235651, -1.10235651, -1.10235651, -1.10235651,
       -0.52821249, -0.52821249,  0.62007554,  0.62007554,  0.62007554])

In [ ]:
new_y = pd.rolling_mean(y,3)

In [65]:
# plt.plot(x,y,'r-',x,y2,'b--')
fig = plt.figure()
ax = plt.subplot(111)

for i in range(len(df.columns)):
    ax.plot(x, valuelist(y[i]), label='{0}'.format(y[i]))
ax.legend()
plt.show()

D:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:498: UserWarning: The scale function assumes floating point values as input, got int32
  "got %s" % (estimator, X.dtype))
D:\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:145: DeprecationWarning: Implicitly casting between incompatible kinds. In a future numpy release, this will raise an error. Use casting="unsafe" if this is intentional.
  Xr -= mean_
D:\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:153: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "
D:\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:158: DeprecationWarning: Implicitly casting between incompatible kinds. In a future numpy release, this will raise an error. Use casting="unsafe" if this is intentional.
  Xr -= mean_1
D:\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:160: DeprecationWarning: Implicitly casting between incompatible kinds. In a future numpy release, this will raise an error. Use casting="unsafe" if this is intentional.
  Xr /= std_

In [ ]:
# plt.plot(x,y,'r-',x,y2,'b--')
fig = plt.figure()
ax = plt.subplot(111)

for i in range(6):
    ax.plot(x, valuelist(y[i+5]), label='{0}'.format(y[i+5]))
ax.legend()
plt.show()

In [36]:
plt.plot(x, yp, 'r-', x, y2p, 'b--')
plt.show()

In [20]:
np.corrcoef(y,y2)[0,1]

0.66199773892998814