In [155]:
import numpy as np
from keras.engine import Input, Model
from keras.layers import Dense
import pandas as pd

In [156]:
data = {'state' : ['a','b','c','d','e'],
       'year': [2000,2001,2002,2001,2003],
       'pop':[1,0,2,0,3]}

In [157]:
df = pd.DataFrame(data)

In [158]:
df

   pop state  year
0    1     a  2000
1    0     b  2001
2    2     c  2002
3    0     d  2001
4    3     e  2003

In [159]:
df['pop']==0

0    False
1     True
2    False
3     True
4    False
Name: pop, dtype: bool

In [163]:
df.drop(df[index]=[2,4])

SyntaxError: keyword can't be an expression (<ipython-input-163-22d4264b0f77>, line 1)

In [134]:
df = df.drop(df['pop']==0)

In [135]:
df.reset_index(drop='True')

   pop state  year
0  2.0     c  2002
1  0.0     d  2001
2  3.0     e  2003

In [129]:
df

   pop state  year
2  2.0     c  2002
3  0.0     d  2001
4  3.0     e  2003